<!-- NOTE: add "hideable" class to li elements you want to be hidden at small browser widths -->
<!-- e.g. <li class="hideable"><%= link_to "Visit site", casein_config_hostname, :target => "_blank" %></li> -->

<li><%= link_to "Visit site", casein_config_hostname, :target => "_blank" %></li>