/*
 *= require ./bootstrap.css
 *= require ./bootstrap-glyphicons.css
 *= require ./casein-bootstrap-overrides.css
*/

/* CASEIN LAYOUT */

@media (min-width: 992px){

    #left-column {
    	float: left;
    }

    #right-column {
    	float: right;
    }

}

/* CASEIN NAVIGATION BAR */

#user-info {
	font-size: 12px;
	padding-top: 10px;
	height: auto;
}

#user-info ul {
	list-style: none;
	float: right;
}

#user-info li {
	float: left;
	border-right: 1px solid #ddd;
	padding: 3px 8px 3px 8px;
	margin: 0;
	color: #888;
}

#user-info li.last-item {
	border-right: none;
}

#user-info li a {
	color: #555;
	text-decoration: none;
}

#user-info li a:hover {
	color: #000;
	border-bottom: 1px solid #000;
}

#user-info li.signout:hover {
	border-radius: 6px;
	background-color: #da0404;
}

#user-info li.signout a:hover {
	color: #eee;
	border-bottom: none;
}

#user-info li.signout:hover a {
	color: #eee;
}

/* CASEIN CONTENT GENERAL */

small.pagination-details {
	font-size: 0.5em;
}

div#content {
	margin-bottom: 20px;
}

#content h2 {
	font-size: 20px;
	font-weight: bold;
	color: #111;
	border-bottom: 2px solid #eee;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	position: relative;
	line-height: 26px;
}

.content-bottom-padding {
	padding-bottom: 20px;
}

footer p {
	font-size: 10px;
	text-align: right;
	color: #ccc;
}

footer p a {
	color: #ccc;
}

footer p a:hover {
	color: #aaa;
}

.icon {
	position: relative;
	top: 1px;
	float: left;
	height: 14px;
	width: 14px;
	margin-right: 5px;
	font-size: 14px;
	padding: 0px;
	vertical-align: baseline;
}

/* CASEIN TABLES */

#content .table {
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	border-bottom: 2px solid #ccc;
}

#content .table .center {
	text-align: center;
}

#content .table .icon {
	width: 16px;
}

#content .table thead {
	border-bottom: 2px solid #ccc;
}

#content .table td {
	padding: 0px;
	font-size: 12px;
	margin: 0px;
}

#content .table td a {
	display: block;
	line-height: 11px;
	color: #333;
	text-decoration: none;
	padding: 15px 10px 15px 10px;
}

.iconRow {
	height: 16px;
	width: 16px;
	padding: 2px;
	font-size: 12px;
}

#content .table td.delete:hover .iconRow {
	border-radius: 4px;
	background-color: #da0404;
	color: #ffffff;
}

#content .table td.delete a {
	padding: 13px 10px 0px 10px;
}

/* CASEIN 3.x LEGACY STYLES */

/*

#content p {
	font-size: 12px;
	margin: 1em 0;
}

#content h1 {
	border-bottom: 2px solid #DDDDDD;
	color: #111111;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
}

#content h2 img, #preview h2 img {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

#content .tfContainer {
	width: 45%;
	min-height: 60px;
	float: left;
	padding: 0 5% 12px 0;
}

#content .tfContainer p {
	margin: 0;
}

#content .tfContainer div {
	float: left;
	margin: 0 10px 0 0;
}

#content .tfContainer .caseinDateSelectWrapper div {
	float: none;
	margin: 0px;
	margin-top: 4px;
}

#content .tfContainerSecond {
	padding: 0 0 12px 4%;
}

#content .tfContainerFullWidth {
	width: 100%;
	padding-right: 0px;
}

#content label {
	font-size: 12px;
	color: #333;
}

#content .tfContainer .caseinTextField {
	width: 100%;
	font-size: 12px;
	padding: 6px 0 5px 0;
	margin: 3px 0 0 0;
}

.formError {
  padding: 7px 0 0 0;
	color: #801616;
}

.formError > input, .formError > textarea {
	border: 1px solid #801616;
}

#content .extraOptions {
	font-size: 11px;
	padding: 10px 0;
	cursor: pointer;
	width: 100px;
}

#content .extras {
	padding: 15px;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin: 5px 0;
	background: #eee;
	position: relative;
}

#content .extras .checkboxOptions {
	padding: 20px 0 20px 0;
	font-size: 11px;
	color: #222;
	font-weight: bold;
}

#content .invalidForm {
	color: #993333;
	border: 1px solid #ff6666;
}

#content .tfContainer .caseinSelect {
	width: 100%;
	margin: 5px 0 0 0;
}

#content .tfContainer .caseinDateTimeSelect {
	width: auto;
	margin: 5px 0 0 0;
}

#content .tfContainer .caseinFileFieldContainer {
	width: 350px;
	padding: 3px 5px 4px 5px;
	margin: 3px 0 0 0;
	border: 1px solid #ccc;
}

#content .caseinTextArea, #content .caseinTextAreaBig {
	width: 100%;
	height: 120px;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 6px 0 5px 0;
	margin: 3px 0 0 0;
}

#content .caseinTextAreaBig {
	height: 300px;
}

#content .rcText {
	font-size: 11px;
	color: #333;
}

#content .submits {
	text-align: right;
	font-size: 12px;
	padding: 10px 10px;
	background-color: #ddd;
}

#content .cancel, #content a.negative:link, #content a.negative:visited { 
	color: #ff0000;
}

#content .cancel:hover, #content a.negative:visited:hover {
	color: #990000;
}

#content .pagination {
	text-align: center;
	margin: 20px 0px 0px 0px;
	font-size: 12px;
	padding: 10px 10px;
	background-color: #ddd;
}

#content .pagination a:link, a:visited { 
	color: #555;
}

#content .pagination a:hover, a:visited:hover {
	color: #000;
}*/